<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.babarmustafa.campusrecuretmentsystem">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Welcome_For_Student" />
        <activity android:name=".Welcome_Company" />
        <activity android:name=".Compony_Profile_show" />
        <activity android:name=".Studen_Profile_Show" />
        <activity android:name=".Welcome_Admin"></activity>
    </application>

</manifest>